0%, 100% { transform: translateX(0px); }
10%, 30%, 50%, 70%, 90% { transform: translateX(calc(-1 * var(--transform-translate-xs))); }
20%, 40%, 60%, 80% { transform: translateX(var(--transform-translate-xs)); }
